{% extends 'layout.html' %}

{% block body %}

<div class="row col-12 text-center">
    <h1 class="titulo padding text-bold text-large">Clinica ########</h1>
    <!-- Aqui va un for para poder visualizar las colas de paciente -->
    {% for paciente in cola_pacientes %}
    <div class="col-3">
        <div class="card card-thick-border text-bold">
            {{ paciente.numero_documento }}
        </div>
    </div>
    {% if not loop.last %}
    <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
        </svg>
    </div>
    {% endif %}
    {% endfor %}
    <br><br>
    <form action="#" method="post" class="text-bold">
        <div class="row-mb-3 card padding card-thick-border">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                </span>
                <input type="text" class="form-control" placeholder="Nombres y apellidos" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z"/>
                      </svg>
                </span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Seleccione...</option>
                    <option value="1">DNI</option>
                    <option value="2">Carnet de extranjero</option>
                    <option value="3">RUC</option>
                    <option value="4">Pasaporte</option>
                </select>
                <input type="number" class="form-control" placeholder="Numero de documento" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                      </svg>
                </span>
                <input type="date" class="form-control" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                      </svg>
                </span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Seleccione...</option>
                    <option value="1">Mañana</option>
                    <option value="2">Tarde</option>
                    <option value="3">Noche</option>
                </select>
                <input type="time" class="form-control" required>
            </div>
            <hr>
            <div class="alinear-botones">
                <button type="reset" class="btn btn-outline-danger btn-thick-border">Cancelar</button>
                <button type="submit" class="btn btn-outline-primary btn-thick-border">Emitir e imprimir</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}