{% extends 'layout.html' %}

{% block body %}

<div class="text-center padding">
    <div class="card padding card-thick-border bg-card">
        <h1 class="titulo padding text-bold text-large">Historial del paciente</h1>
        <div class="card padding card-thick-border">
            <div class="row">
                <table class="table table-bordered table-thick-border">
                    <thead>
                        <tr>
                            <th>ID Cita</th>
                            <th>Tipo documento</th>
                            <th>Numero de documento</th>
                            <th>Datos del paciente</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cita in historial_citas %}
                        <tr>
                            <td>{{ cita.id_cita }}</td>
                            <td>{{ cita.tipo_documento }}</td>
                            <td>{{ cita.numero_documento }}</td>
                            <td>{{ cita.datos_paciente }}</td>
                            <td>{{ cita.fecha_cita }}</td>
                            <td>{{ cita.hora_cita }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}